fastapi
uvicorn
fastapi-socketio
pytest
python-socketio[client]
python-socketio[asyncio_client]

SQLAlchemy
databases[sqlite]

pydantic[email]

passlib[bcrypt]
python-dotenv

requests
python-jose[cryptography]
openai
pdfplumber
firebase-admin
